
.mylist_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mylist_box{
  padding-right: 28px;
  padding-bottom: 10px;
}

.c-mylist-explan-title{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

.c-mylist-txt{
  font-size: 16px;

}

.icon_explan{
  width: 25px;
  height: 25px;
}
